.footer_wrapper {
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.explore_wrapper {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 20px;
}
.explore_wrap {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 20px;
}

.footer {
    background-color: black;
    padding: 80px 10px;
}

.new h4 {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 32px;
    color: #fff;
    margin-bottom: 7px;
}

.new p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: #7d7d7d;
    margin-bottom: 16px;
}

.new input {
    border: 1px solid #7d7d7d;
    width: 480px;
    height: 60px;
    background: transparent;
    padding-left: 25px;
    margin-bottom: 24px;
    color: #fff;
}

.footer_icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 80px;
}

.explore h6 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 17px;
}

.explore li {
    margin-bottom: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: #7d7d7d;
}

.de_wr {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding-left: 90px;
}

.de_wr h5 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #eae5dd;
}

.de_wr h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 170%;
    color: #7d7d7d;
}
.de_wr div {
    display: flex;
    align-items: center;
    gap: 15px;
}

@media(max-width:1250px) {
    .de_wr {
        padding-left: 60px;
    }
}

@media(max-width:1150px) {
    .de_wr {
        padding-left: 40px;
    }
}

@media(max-width:1050px) {
    .footer_wrapper {
        display: block;
    }

    .de_wr {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 0px;
        margin-top: 50px;
    }

    .de_wr div {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}

@media(max-width:600px) {
    .new input {
        border: 1px solid #7d7d7d;
        max-width: 343px;
        width: 90%;
        height: 60px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 170%;
        color: #7d7d7d;
        opacity: 0.5;
    }
}
@media(max-width:510px){
    .explore_wrap {
        display: flex;
        align-items: start;
        justify-content: flex-start;
        gap: 20px;
    }
    .explore_wrapper {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: start;
        justify-content: flex-start;
        gap: 20px;
    }
}